POSTGRES_DB=suidu
POSTGRES_USER=suidu
POSTGRES_PASSWORD=change-me

REDIS_PASSWORD=change-me

SUIDU_DOCKER_NETWORK=suidu-network
SUIDU_DATABASE_URL=postgres://suidu:change-me@postgres-host:5432/suidu?sslmode=disable
SUIDU_REDIS_ADDR=redis-host:6379
SUIDU_REDIS_PASSWORD=change-me
SUIDU_REDIS_DB=5
SUIDU_REDIS_KEY_PREFIX=suidu:
SUIDU_COOKIE_SECURE=true
SUIDU_SESSION_TTL=168h
SUIDU_STORAGE_ROOT=/var/lib/suidu/files/suidu
SUIDU_MAX_FILE_BYTES=104857600

SFTPGo_DB_HOST=postgres-host
SFTPGo_DB_NAME=suidu_sftpgo
SFTPGo_DB_USER=suidu_sftpgo
SFTPGo_DB_PASSWORD=change-me
